html { 
    background: url(../img/food.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.main {
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}